.bordered {
  border-style: groove;
  border-radius: 5px;
}
.main {
  width: 97vw;
  height: 97vh;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: 67% 1fr;
  grid-template-areas: 'a b' 'c c';
}