html,body{
    height: 100%;
    overflow: hidden;
}

#editor {
    margin: 0;
    font-size: 14px;
}

#table {
    background-color: #2F3129;
    margin: 0;
    height: 80vh;    
}

.table {
    background-color: #2F3129;
    margin: auto 
}

#terminal {
    background-color: #2F3129;
    border-top: 5px solid #43443f;
    height: 20vh;
}

#terminal h6 {
    color: white;
    font-size: 80%;
}